<!-- Place somewhere in the <body> of your page -->
<div class="flexslider">
  <ul class="slides">
    <li data-thumb="images/SRB001_01.jpg">
      <img src="images/SRB001_01.jpg" />
    </li>
    <li data-thumb="images/SRB001_02.jpg">
      <img src="images/SRB001_02.jpg" />
    </li>
  </ul>
</div>
